<div class="navbar">
  <div class="navbar-inner navbar-fixed-top">
    <a href="/">
      <h1 class="pull-left" id="brand">Enig<span class="underline">mates</span></h1>
    </a>

    <%= render "shared/header/login_providers" %>
    <%= render "shared/header/invites" %>
  </div>
</div>