<div class="media">
  <div class="media-body">
    <% if invite.unread == true %>
    <div class="media unread-invite">
    <% else %>
    <div class="media">
    <% end %>
      <%= raw invite.message %><br><span class="invite-time"><%= time_ago_in_words invite.updated_at %> ago</span>
    </div>
  </div>
</div>