<% if @user %>  
  <% publish_to "/users/#{@user.id}" do %>
    $("#notices").append("<P><%= raw @message%></P>");
  <% end %>
  // Something confirming invite sent
<% elsif @warning %>
  $("#notices").append("<p><%=@warning%></P>")
<% else %>
  $("#notices").append("<P>That player does not exist!</P>");
<% end %>

$("#friend").val("");