<% if @user && @invite %> 

  <% publish_to "/users/#{@user.id}" do %>
    $("#invites").prepend("<%= j render 'invites/invite', invite: @invite %>");
    var invite_count = $("span#invite_count")
    if (invite_count.text() === "0") {
      invite_count.addClass("badge-important");
    }
    invite_count.text(Number(invite_count.text())+1);
  <% end %>

  $("#notices").append("<p>Invitation sent!</P>")

<% elsif @warning %>
  // add publish
  $("#notices").append("<p><%=@warning%></P>")
<% else %>
  $("#notices").append("<P>That player does not exist!</P>");
<% end %>

$("#friend").val("");