<h4>Invite your Friends</h4><br>

<form action="/invites/<%= @attempt.id %>" method="post" data-remote="true"> 
  <input type="text" id="friend" name="name" autocomplete="off" placeholder="Enter a friend's name" data-provide="typeahead" data-source="<%= @all_users %>"></input>
</form>
<hr>

<h4>Puzzle Log</h4>
<div id="stream">
  <p>Welcome to the puzzle: <%=@attempt.puzzle%></p>
</div>

