<div class="row">
  <% if @attempt.mode == "versus" %>
    <%= render "attempts/versus" %>
  <% else %>
    <%= render "attempts/coop" %>
  <% end %>

  <div class="span3">
    <input id="guess_field" autocomplete="off" type="text" name="guess" placeholder="Enter a guess"></input>
  </div>
</div>

<div class="row">
  <div class="span8">
    <svg id="svg"></svg>
  </div>

  <div class="span4">
    <ul id="results"></ul>
  </div>
</div>

<%= subscribe_to "/attempts/#{@attempt.id}" %>

<script type="text/javascript">
$(document).ready(function(){
  $("input#guess_field").focus();
  $("input#guess_field").on("keyup", function(){
    $.ajax({
      url: "<%=@attempt.id%>/guesses",
      data: {"guess" : $("input#guess_field").val()},
      type: "POST"
    })
  });

  var svg = d3.select('#svg').append('svg');
  var group = svg.append('g');
  var map = d3.geo.albersUsa();

  d3.json('/assets/us-states.json', function(collection) {
    group.selectAll('path')
      .data(collection.features)
      .enter().append('path')
      .attr('d', d3.geo.path().projection(map))
      .attr('id', function(d){
        return d.properties.name.replace(/\s+/g, '')
      })
      .style('fill', 'white')
      .style('stroke', 'white')
      .style('stroke-width', 1);
  });
})
</script>