<h2><%= @puzzle %></h2>
<h4><%= @puzzle.topic %></h4>

<form action="<%=@attempt.id%>/guesses" method="post" data-remote="true"> 
  <input id="guess_field" autocomplete="off" type="text" name="guess" placeholder="Enter a state"></input>
</form>

<ul id="results"></ul>

<script type="text/javascript">
  $("input#guess_field").focus();
</script>