<div class="row">
  <div class="span6">
    <h2><%= @puzzle %></h2>
    <h4>(<%= @puzzle.topic %>)</h4>
  </div>

  <div class="span6">
    <p>Play modes: </p>
    <div class="btn-group">
      <%= button_to 'Co-Op', puzzle_attempts_path(@puzzle, mode: "co-op"), class: "btn btn-success" %>
      <%= button_to 'Versus', puzzle_attempts_path(@puzzle, mode: "versus"), class: "btn" %>
    </div>
  </div>
</div>